---
---

## DHS2019 DATA EXPLORATION PART 1

---
---


#### PROBLEM STATEMENT

An online question and answer platform has hired you as a data scientist to identify the best question authors on the platform. This identification will bring more insight into increasing the user engagement. Given the tag of the question, number of views received, number of answers, username and reputation of the question author, the problem requires you to predict the upvote count that the question will receive. 

___

#### DATA DICTIONARY

|**Variable** | **Definition** |
|---|---|
| **ID** | Question ID |
| **Tag** | Anonymised tags representing question category |
| **Reputation** |	Reputation score of question author |
| **Answers** |	Number of times question has been answered |
| **Username** |	Anonymised user id of question author |
| **Views** |	Number of times question has been viewed |
| **Upvotes** |	(Target) Number of upvotes for the question |

---

***Dataset URL: https://datahack.analyticsvidhya.com/contest/workshop_enigma-codefest-machine-learning/***

In [1]:
# importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.options.display.max_columns = 100

In [2]:
# read the train dataset 
train_df = pd.read_csv("dataset/upvote_count/train_NIR5Yl1.csv")
print(train_df.shape)
train_df.head()

(330045, 7)

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [3]:
# read the test dataset
test_df = pd.read_csv("dataset/upvote_count/test_8i3B3FC.csv")
print(test_df.shape)
test_df.head()

(141448, 6)

       ID Tag  Reputation  Answers  Username    Views
0  366953   a      5645.0      3.0     50652  33200.0
1   71864   c     24511.0      6.0     37685   2730.0
2  141692   i       927.0      1.0    135293  21167.0
3  316833   i        21.0      6.0    166998  18528.0
4  440445   i      4475.0     10.0     53504  57240.0

---

#### Explore the Target Variable

---

In [4]:
### EXERCISE-1

## Create a scatter plot and histogram plot to visualize the target ##
## ##

In [5]:
# histogram plot

---

#### Correlation of the target with Numerical variables

---

In [6]:
### EXERCISE-2
### create a correlation matrix of the target variable with the numerical variables

### Categorical Variable Exploration

Create a bar plot and check the number of rows for each category of 'Tag'

In [7]:
### EXERCISE-3
# on train data

In [8]:
# on test data

In [9]:
### EXERCISE-4
## Sort the train df by number of upvotes

## Once sorted, show the top 30 rows for the following columns : Reputation, Answers, Views, Upvotes

In [10]:
### EXERCISE-5
## Try sorting the dataset by different numerical columns and see the results
## Do you see any patterns in the data on how the upvotes are affected?

In [11]:
## If the naked eyes are not very helpful, try some scatter plots

---

#### ### Check the categorical distribution between train and test

---

In [12]:
### EXERCISE-6
## Check whether there are any common usernames between train and test

In [13]:
### EXERCISE-7
# ## Do a bar plot like of top 30 usernames (occured most) and have a look for train and test

## on train data

In [14]:
## on test data